<h1>Please Login</h1>

<% form_tag do %>
  <ol>
    <li>
      <%= label_tag :username %>
      <%= text_field_tag :username %>
    </li>
    <li>
      <%= label_tag :password %>
      <%= password_field_tag :password %>
    </li>
  </ol>
  
  <p class="separator">
    <%= submit_tag 'Login' %> |
    <%= link_to "Cancel", root_path %>
  </p>

<% end %>